html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  background-color: lightgreen;
}



.header-top{
display:flex;
flex-direction: column;
align-items: center;
margin: 1em 0em;
}

.hero {
  font-family: fantasy;
  font-size: 5em;
  text-align: center;
  margin: .5em;

  }

  .play{
    padding: 1em;
    margin: .5em;
  }

  .game-board{
    display: flex;
    flex-direction: row;
    align-content: center;
   justify-content: space-around;
   
  }
  
.dealer-container{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  font-family: fantasy;
  font-size: 2em;
}

.player-container{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  font-family: fantasy;
  font-size: 2em;
}

.player-cards{
  font-size: 14px;
 padding: 3em 0em;
 
}

.player-hand{
  border: 2px dashed white;
  padding: 1em;

}

.dealer-hand{
  border: 2px dashed white;
  padding: 1em;
}

.bust{
  color: red;
  font-family: fantasy;
}